body {
  background: #fff !important;
}

.margin-row {
  margin: 8px;
}

.login-form {
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
  padding: 16px;
  box-shadow: 0 8px 20px rgba(143,168,191,0.35);
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
