@import "./default.less";
@media only screen and (max-width: 767.99px) {
  #header {
    text-align: center;
    #logo {
      float: initial;
    }
  }
  .home-page-wrapper {
    .page {
      h2 {
        margin: 80px auto 64px;
        font-size: 30px;
      }
    }
    .parallax-bg {
      display: none;
    }
  }
  .banner {
    display: block;
    height: 632px;
    &-bg-wrapper {
      display: none;
    }
    .img-wrapper,
    .text-wrapper {
      width: 100%;
      display: inline-block;
      text-align: center;
      margin: auto;
    }
    .img-wrapper {
      position: initial;
      margin-top: 48px;
      svg {
        width: 100%;
        height: auto;
      }
    }
    .text-wrapper {
      margin-top: 48px;
      min-height: 200px;
      padding: 0 16px;
      h1 {
        font-size: 30px;
        line-height: 34px;
      }
      p {
        font-size: 14px;
        line-height: 28px;
        color: @home-text-color;
      }
    }
  }
  .page1 {
    min-height: 1538px;
    .ant-row {
      margin: 24px auto 64px;
      >div {
        margin-bottom: 48px;
      }
    }
  }
  .page2 {
    min-height: 840px;
    background: #fff;
    &-content {
      box-shadow: none;
    }
    &-components {
      display: none;
    }
    &-product {
      min-height: auto;
      padding: 0 16px;
      .product-block {
        padding-bottom: 35px;
        margin-bottom: 34px;
        border-bottom: 1px solid #EBEDF0;
        &:last-child {
          margin-bottom: 32px;
          border-bottom: none;
          .block-text-wrapper {
            height: auto;
          }
        }
        .block-image-wrapper {
          height: 88px;
          img {
            height: 100%;
          }
        }
        .block-text-wrapper {
          border-bottom: none;
          padding-bottom: 0;
          h4 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 4px;
          }
          p {
            font-size: 12px;
            margin-bottom: 8px;
            line-height: 20px;
          }
          a {
            line-height: 20px;
          }
          .components-button-wrapper {
            font-size: 12px;
            margin-top: 16px;
            a {
              display: block;
            }
          }
        }
      }
    }
  }
  .page3 {
    min-height: 688px;
    background: url('https://gw.alipayobjects.com/zos/rmsportal/qICoJIqqQRMeRGhPHBBS.svg') no-repeat;
    background-size: cover;
    .page3-text-wrapper {
      margin: 0;
      max-width: initial;
    }
    .page3-block {
      padding: 24px;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 8px 16px rgba(174, 185, 193, 0.3);
      margin-bottom: 32px;
      &:nth-child(2) {
        .page3-img-wrapper img {
          width: 70%;
          margin: auto;
          display: block;
        }
      }
      p {
        font-size: 12px;
      }
      .page3-img-wrapper {
        width: 20%;
        img {
          width: 100%;
        }
      }
    }
  }
  #footer {
    text-align: center;
    .footer-wrap {
      padding: 40px;
    }
    .footer-center {
      text-align: center;
    }
    h2 {
      margin-top: 16px;
    }
    .bottom-bar {
      text-align: center;
      .translate-button {
        width: auto;
        text-align: center;
        margin-bottom: 16px;
      }
    }
  }
  .home #footer {
    .footer-wrap {
      .ant-row {
        padding: 0;
        >div {
          &:nth-child(2),
          &:nth-child(4) {
            display: none;
          }
          a {
            font-weight: 300;
          }
        }
      }
    }
    .bottom-bar {
      > div > span {
        display: block;
        &:nth-child(1), &:nth-child(2){
          display: none;
        }
      }
    }
  }
}